// PROJECT COLORS
$color-white: #FFF
$color-black: #000
$color-slider-green: #4CAF50
$color-slider-background: #d3d3d3
$color-delete-red: #D62E41
$color-blue: #0275D8

$color-blue-toggle-bg: #289AF9


//Histogram colors in javascript
$color-histogram-blue: #0984e3
$color-histogram-orange: #e17055
$color-histogram-green: #00b894


// FONT COLORS
$color-font-gray: #585858



// SEPARATOR COLORS
$color-separator-gray: #EAEAEA
$color-separator-gray1: #e5e5e5




// FONTS
$font-family-titillium: 'Titillium Web', sans-serif