// PROJECT COLORS
$color-white: #FFF
$color-black: #000
$color-slider-green: #4CAF50


// FONT COLORS
$color-font-gray: #585858



// SEPARATOR COLORS
$color-separator-gray: #EAEAEA




// FONTS
$font-family-titillium: 'Titillium Web', sans-serif