div.panel
  height: 100%
  background-color: #fff
  //background: #EEEEEE

div.map-tools
  height: 100%
  padding: 30px 20px 20px
  overflow-y: auto
  max-height: 100vh

div.main-content
  height: 100%

.fullscreen
  height: 100%


.filter-buttons
  display: block
  margin: auto

.button-group-center
  display: block
  margin: 20px auto auto

.tool-content
  margin: 10px 10px 0

.dropdown-menu
  height: 150px
  overflow-y: auto

.slider-value-style
  font-size: 20px
  font-weight: 600
  color: $color-font-gray
  font-family: $font-family-titillium
  margin-top: -4px

.double-slider-value-style
  border: 0
  text-align: right
  font-size: 20px
  font-weight: 600
  font-family: $font-family-titillium
  color: $color-font-gray
  float: right
  margin-top: -4px
  width: 120px