div.panel
  height: 100%
  background-color: #fff

div.map-tools
  height: 100%
  padding: 10px

div.main-content
  height: 100%

.fullscreen
  height: 100%


.filter-buttons
  display: block
  margin: auto

.button-group-center
  display: block
  margin: auto